.EventosHome {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

header {
  background-color: #004D4D;
  color: white;
  padding: 20px;
}

.logo img {
  max-width: 5cm;
  width: 100%; 
  height: auto;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
}

.nav-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-login {
  background-color: #FFA000;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.btn-login:hover {
  background-color: #DCAE1D;
  transition: background-color 0.3s;
}

/* Sección de eventos */
.events-section {
  padding: 40px 20px;
  text-align: center;
  background-color: rgb(228, 228, 228);
}

.events-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.filters {
  margin-bottom: 20px;
}

.filters button {
  background-color: #FFA000;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #e89402ce;
}

.filters .active {
  background-color: #FFA000;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.event-card {
  background-color: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.1);
}

.event-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.event-info h3 {
  font-size: 1.5rem;
  margin-top: 15px;
}

.event-info p {
  color: #555;
  margin-top: -12px;
}

.event-modalidad {
  font-size: 1rem;
  margin-top: 10px;
  color: #007777;
}

.event-modalidad i, 
.event-modalidad svg { 
  margin-right: 10px;  
}

.event-date {
  font-size: 0.9rem;
  color: #777;
  margin-top: 5px;
  margin-right: 10px;  
}

.event-date i, 
.event-date svg { 
  margin-right: 10px;  
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-logo img {
  max-width: 4.3cm;
  height: auto;
}

.modal-icon i {
  font-size: 2rem;
  color: #3c763d; 
  margin-left: 10px;
}

.modal h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal p {
  font-size: 1rem;
  color: #555;
}

.modal .event-agenda {
  margin-top: 20px;
}

.modal .event-agenda ul {
  list-style-type: disc;
  padding-left: 20px;
}

.modal .event-agenda li {
  margin-bottom: 10px;
}

.modal button {
  background-color: #FFA000;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.modal button:hover {
  background-color: #DCAE1D;
  transition: background-color 0.3s;
}

/* Pie de página */
.footer {
  background-color: #015252;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-logo img {
  margin-top: 15px;
  max-width: 5cm;
  width: 100%; 
  height: auto;
  object-fit: contain;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
}

.footer-contact h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer-contact ul {
  list-style: none; 
  padding: 0;       
  margin: 0;        
  text-align: left; 
}

.footer-contact li {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.footer-social {
  flex: 1;
  min-width: 150px;
}

.footer-social h3 {
  font-size: 1.4rem;
  margin: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon i {
  font-size: 1.2rem;
}

.social-icon:hover {
  background-color: #008080;
  color: white;
}

.footer-bottom {
  background-color: #004D4D;
  text-align: center;
  margin-top: 30px;
  padding: 10px 10px;
}

.footer-bottom p {
  font-size: 0.9rem;
  margin: 0;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo h3 {
    font-size: 1.5rem;
  }

  .footer-contact, .footer-social {
    margin-top: 20px;
  }
}
