.register-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #004D4D;
  color: white;
  padding: 20px;
}

.logo img {
  max-width: 5cm;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-login {
  background-color: #FFA000;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.btn-login:hover {
  background-color: #DCAE1D;
  transition: background-color 0.3s;
}

/* Estilos para el formulario de registro */
.forml {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 70px;
  background-color: #f7f7f7;
}

.register-form-container {
  max-width: 450px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #e0e0e0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #004D4D;
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 25px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #FFA000;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 160, 0, 0.5);
}

.alert {
  display: flex;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1rem;
}

.alert .icon {
  margin-right: 10px;
}

.btn-register {
  width: 100%;
  background-color: #FFA000;
  color: black;
  padding: 14px 0;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.btn-register:hover {
    background-color: #DCAE1D;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link .link {
  color: #004D4D;
  font-weight: bold;
  text-decoration: none;
}

.login-link .link:hover {
  text-decoration: underline;
}

/* Pie de página */
.footer {
  background-color: #015252;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  min-height: 24vh;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-logo img {
  max-width: 5cm;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
}

.footer-contact h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-contact li {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.footer-social {
  flex: 1;
  min-width: 150px;
}

.footer-social h3 {
  font-size: 1.4rem;
  margin: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon i {
  font-size: 1.2rem;
}

.social-icon:hover {
  background-color: #008080;
  color: white;
}

.footer-bottom {
  background-color: #004D4D;
  text-align: center;
  margin-top: 30px;
  padding: 10px 0;
}

.footer-bottom p {
  font-size: 0.9rem;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo h3 {
    font-size: 1.5rem;
  }

  .footer-contact, .footer-social {
    margin-top: 20px;
  }
}
